
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/edit_product.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/63355f2aa7.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    
    <title>Happy e-Shop - Contactanos</title>
</head>

<%- include ("../partials/header") %>


<main>
    <section>
        <div >
            <div >
                <div >
                    <h2 >Formulario de edición de productos</h2>
                </div>
            </div>
            <div >
                <form action="/products/edit_product/<%= productoEditar.id%>?_method=POST" method="POST" enctype="multipart/form-data">
                    <div >
                        <div >
                            <label for="name" >Nombre del producto:</label>
                            <input type="text" id="name" name="name" placeholder="Ej: Hidro Total" class="form-input" value="<%= productoEditar.nombre%>">
                        </div>
                        <div >
                            <label for="price" >Precio del producto:</label>
                            <input type="text" id="price" name="price" placeholder="Ej: 2400" value="<%= productoEditar.precio%>" >
                        </div>
                        <div>
                            <label for="category" >Categoría:</label>
                            <select name="category" id="category" >
                                <option value="">Elegí</option>
                                <option value="in-sale"<%= (productoEditar.categoria == "En oferta") ? "selected": null %>>En oferta</option>
                                <option value="visited"<%= (productoEditar.categoria == "últimos agregados") ? "selected": null %>>Últimos agregados</option>
                            </select>
                        </div>
                        <div >
                            <label for="description" >Descipción:</label>
                            <textarea name="description" id="description" value="<%= productoEditar.descripcion%>"></textarea>
                        </div>
                        <!-- <div >
                            <label for="imagen" >Imagen:</label>
                            <input type="file" name="imagen" value="..."></input>
                            
                        </div> -->

                        <!--Aquí solicito la imagen-->
                        <div class="custom-file">
                            <figure class="form-group">
                                <img  class="w-100" src="../../../public/img/productos/<%=productoEditar.imagen%>" alt="producto <%= productoEditar.nombre%>">
                            </figure>
                            <input type="hidden"  name="oldImagen"  value="<%= productoEditar.imagen%>">
                            <!--De esta forma logro conservar y que viaje la imagen anterior de esta forma evito que el usuario seleccione una imagen nuevamente, ( si no lo desea) -->
                            <input type="file" name="imagen" >
                            <!--<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="imagen" required value=""> 

                            <label class="custom-file-label" for="inputGroupFile01">Seleccione una imagen...</label>-->
                          </div>

                        <div >
                            <button type="submit">Guardar producto</button>
                            <a href="/admin">Volver</a>
                        </div>
                    </div>
                </form>
            </div>
    </section>
    </main>
    <%- include ("../partials/footer") %>
    
</body>

</html>
