<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
        <!-- Bloque para importar Iconos y Estilos de BootStrap -->
        <script src="https://kit.fontawesome.com/63355f2aa7.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/master.css">
        <!-- Fin de Bloque Look & Feel -->

        <title>Happy e-Shop - Contactanos</title>
    </head>

<%- include ("../partials/header") %>
<main>
    <br>
    <div class="alert alert-success" role="alert">
        <b>Detalle del Producto</b>
    </div>

    <section class="container-fluid _footer bg-body-tertiary _card">

        <div class="card border-success text-center" style="width: 42rem;">
            <br>
            <img src="/img/productos/<%= miProducto.imagen%>" class="rounded mx-auto d-block w-50" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= miProducto.nombre%></h5>
                <p class="card-text">
                  <br>
                  <%= miProducto.descripcion %> <br>
                  <br>
                  <strong>Precio:</strong> <%= miProducto.precio %><br>
                  <strong>Categoria:</strong> <%= miProducto.categoria %><br>
                </p>
                <div class="_card">
                    <a href="/admin" class="btn btn-outline-success btn-sm w-100">Volver</a>
                </div>
              </div>
        </div>

    </section>
    <br>
        </main>
    <%- include ("../partials/footer") %>

        <!-- Bloque que invoca a las librerias de Javascript para el correcto funcionamiento de animaciones de BootStrap -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        <!-- Fin de Bloque Look & Feel -->
    
</body>

</html>
