<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/productDetail.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/63355f2aa7.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    
    <title>Happy e-Shop - Contactanos</title>
</head>

<%- include ("../partials/header") %>
<main>
    <section>
        <div >
            <div >
                <div >
                    <h2 > Detalle de producto</h2>
                </div>
            </div>
            <div >
                <section class="row">
                    <article class="col-12 col-md-6 mx-auto mt-5 producto">
                        <figure class="imagenProducto">
                          <img  src="/img/productos/<%= miProducto.imagen%>" class="card-img-top w-100 d-block" alt="producto">
                        </figure> 
                        <!-- <% if (miProducto.descuento == 30) { %>
                          <img class="descuento" src="/img/promo30.png" alt="Descuento 30%">
                        <% } else if(miProducto.descuento == 15){%>
                          <img class="descuento" src="/img/promo15.png" alt="Descuento 15%">
                        <%}%> -->
                        <div class="card-body">
                          <h5 class="card-title"><%= miProducto.nombre%></h5>
                          <h5 class="card-title">$ <%= miProducto.precio %></h5>
                          <p class="card-text"><%= miProducto.descripcion %></p>
                          
                        </div>
                        <a href="/admin" class="btn btn-danger">Volver</a>
                    </article>
              </section>
            </div>
    </section>
    </main>
    <%- include ("../partials/footer") %>
    
</body>

</html>

