<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/63355f2aa7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

    <title>Happy e-Shop - Registrate</title>
</head>
<body>
    <%- include ("../partials/header") %>
    <main>
        <div class="mainContent">
        <!-- <section class="registerMainFoto"><img src="/img/hidroponia.png" class="registerFoto"></section> -->
        <section class="registerSection">
            <form method="POST" action="/user/register" enctype="multipart/form-data">
                    
                    <ul><input type="text" name="nombre" placeholder="Nombre" value= "<%= locals.oldData ? oldData.nombre : null %>"/></ul>
                    <% if (locals.errors && errors.nombre){ %>
                    <div>
                    <%= errors.nombre.msg %>
                    </div>
                        <% } %>
                    <ul><input type="text" name="apellido" placeholder="Apellido" value= "<%= locals.oldData ? oldData.apellido : null %>" /></ul>
                    <% if (locals.errors && errors.apellido){ %>
                        <div>
                        <%= errors.apellido.msg %>
                        </div>
                            <% } %>
                    <ul><input type="email" name="email" placeholder="email" value= "<%= locals.oldData ? oldData.email : null %>"/></ul>
                    <% if (locals.errors && errors.email){ %>
                        <div>
                        <%= errors.email.msg %>
                        </div>
                            <% } %>
                    <ul><input type="password" name="password" placeholder="Password"/></ul>
                    <% if (locals.errors && errors.password){ %>
                        <div>
                        <%= errors.password.msg %>
                        </div>
                            <% } %>
                    <ul><input type="text" name="pais" placeholder="Pais" value= "<%= locals.oldData ? oldData.pais : null %>"/></ul>
                    <% if (locals.errors && errors.pais){ %>
                        <div>
                        <%= errors.pais.msg %>
                        </div>
                            <% } %>
                    <ul><input type="file" name="avatar" placeholder="Avatar" /></ul>
                    <% if (locals.errors && errors.avatar){ %>
                        <div>
                        <%= errors.avatar.msg %>
                        </div>
                            <% } %>
                    
                    <button type="submit" >Enviar</button>
                    
            </form>
        </section>
        </div>
    </main>
    <%- include ("../partials/footer") %>

    
</body>
</html>
